body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background: linear-gradient(#2a00b7, #42006c); */
  background-image: radial-gradient(
    circle farthest-corner at -4.5% 34.3%,
    rgba(13, 20, 174, 1) 0%,
    rgba(243, 165, 140, 1) 90%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
